.button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

.button--play {
    background-color: rgb(140, 140, 175);
    background-image: url('../images/TriangleArrow-Right.svg');
    background-position: 17px; 
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 90%;
    margin-bottom: 40px;
    height: 45px;
    width: 45px; 
    transition: all 0.5s ease;
    &:hover {
        background-color: rgb(98, 98, 119);
    }
}

.button--trynow {
    background-color: $color-button;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 15px 60px;
    transition: all 0.5s ease;
    &:hover{
        background-color: rgb(141, 99, 99);
    }
}