@import 'fonts';
@import 'variables';
@import 'button';


* {
    box-sizing: border-box;
}
 
html, body {
    margin: 0;
    padding: 0;
}

.color--orange {
    color: $color-title;
    font-size: 0.8rem;
}


@media (max-width: 300px) {
    :root {
        font-size: 10px;
    }
  }