$font-principal : 'Montserrat', sans-serif;
$color-button : rgb(223, 92, 92);
$color-title : coral;
$color-background--orange: #fb8686; 
$color-background--gray: #f6f5f3;
$color-background--blue: #323969;